/* Layout */

.wiki_page {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	position: relative;
}

.wiki_page > .wiki_content {
	flex: 1 1 auto;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.wiki_page > aside {
	position: sticky;
	background-color: var(--ls_theme_background_accentuated);
	min-width: 15%;
	max-width: 20%;
	overflow-y: auto;
}

.wiki_page nav ul {
	padding: 0;
}

.wiki_page nav > ul > li {
	padding: 0 1em;
}

.wiki_page nav li {
	padding-left: 1em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	cursor: pointer;
}

.wiki_page nav li > div {
	display: inline-block;
	margin: 0.2em 0;
}

li.wiki_nav_directory {
	list-style: disclosure-closed inside;
}

li.wiki_nav_directory:first-child, li.wiki_nav_directory::marker {
	cursor: pointer;
}

li.wiki_nav_directory > ul {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in-out;
}

li.wiki_nav_directory[open] {
	list-style-type: disclosure-open;
}

li.wiki_nav_directory[open] > ul {
	max-height: 1000px; /* This is a mess, someone thought it was a good idea to prevent height animation of non-absolute values. */
	opacity: initial;
}

@media(max-width: 900px) {
	.wiki_page > aside {
		display: none;
	}

	.wiki_page > aside.opened {
		display: block;
	}
}

/* Markdown styling */

details > summary {
	cursor: pointer;
}

/* Grids */

.crafting-grid {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.crafting-grid td, .crafting-grid th {
	border: 1px solid var(--ls_theme_border_color);
	text-align: center;
}

.crafting-grid th {
	border-left: 2px solid var(--ls_theme_border_color);
	border-top: 2px solid var(--ls_theme_border_color);
	border-right: 2px solid var(--ls_theme_border_color);
	text-align: center;

	background-color: #eee;
}

.explosion-crafting {
	border-collapse: collapse;
}

.explosion-crafting td, .crafting-grid th {
	border: 1px solid var(--ls_theme_border_color);
}

td img, th img {
	vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
	.crafting-grid th {
		background-color: #333;
	}
}

/* Code blocks */

code {
	padding: .2em .4em;
	margin: 0;
	border-radius: 3px;
	font-size: 90%;
	border: 1px solid #ffffff1a !important;
	background: #222;
	color: #bebebe;

	font-family: "Menlo", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
	font-feature-settings: normal !important;
}

pre > code {
	padding: 0 !important;
	margin: 0 !important;
	border: 0px !important;
	background: #ffffff00 !important;
}

.block_code {
	max-width: 100vw;
	overflow-x: auto;
}

main .block_code {
	max-width: calc(100vw - 20px);
}

pre {
	/*width: min-content;*/
	overflow-x: auto;
	background-color: #141414;
	color: #ccc;
	padding: 16px;
	line-height: 1.45;
	border: 1px solid #ffffff1a !important;
	border-radius: 3px;
}

/* Images */

img.item {
	image-rendering: crisp-edges;
}

.wiki-gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
